html {
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.4rem;
}

.std-block {
    padding: 1.4rem;
}

.scenario-2 {
    display: none;
}

.note-scenario-2 {
    display: none;
}

.btn {
    display: inline-block;
    padding: 1rem;
    text-align: center;
    border: 1px solid transparent;
}
.btn:hover {
    cursor: pointer;
}
.btn:focus {
    outline: none;
}

.btn-primary {
    background: #06f;
    color: #fff;
}
.btn-primary:hover {
    background: #06c;
}

button:disabled {
    background: #999;
}
button:disabled:hover {
    cursor: not-allowed;
    background: #999;
}

.form-item {
    margin-bottom: 1rem;
}

.std-form-label {
    display: inline-block;
    padding: 1rem 0;
}

.std-form-field {
    display: block;
    padding: 1rem 0.6rem;
}

.textarea {
    display: block;
    padding: 1rem 0.6rem;
    resize: vertical;
    width: 450px;
    height: 150px;
}

.selected-variant {
    background: yellow;
}

.error-block, 
.common-errors-block {
    display: none;
    padding-top: 1rem;
    color: #f34656;
}

.scenario-2-wrapper {
    display: none;
}

.common-errors-block {
    padding-bottom: 1rem;
}

.no-display {
    display: none;
}
